* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Tahoma, sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #90E0EF;
}

.container {
    width: 450px; 
    border-radius: 2rem;
    background-color: #fff;
}

.container h2{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 1rem 0 .5rem;
    border-bottom: 1px solid #ccc;
}

.container .content {
    margin: 0 1rem 2rem;
}

.content .word {
    margin-top: 0.5rem;
 font-size: 2rem;
 font-weight: 500;
 text-align: center;
 letter-spacing: .8rem;
 text-transform: uppercase;   
}

.content .details {
    margin: 1rem 0;
}

details p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

/* .details-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 1rem 0; */
    /* height: 2rem; */
/* }  */

.message {
margin-top: 1rem;
}

.correct {
    color: green;
}

.incorrect {
    color: darkred;
}

.details p b{
    font-weight: 600;
}

.content input {
    width: 100%;
    height: 2.5rem;
    font-size: 1.2rem;
    padding: 0 1rem;
    border-radius: .5rem;
    border: 1px solid #aaa;
}

.time{
    margin-top: 1rem;
}

.content .end-container {
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
}

.end-container button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    border-radius: 1rem;
    width: calc(100%/2-10px);    
}

.end-container .refresh-word {
    background-color: thistle;
}

.hide {
    visibility: hidden;
}

.end-container .check-word {
    background-color: #82F8D2;
    border: 4px solid #fff; 
}

.check-word:focus{
    outline: 3px solid #82F8D2;
}

